.footer{
    padding : 30px 40px;
    display: flex;
    justify-content: space-between;
    color: rgb(30, 32, 38);
    font-size: 20px;
    background: white;
}
.footericon{
    border-radius: 50%;
    width : 50px;
    height: 50px;
    justify-content: center;
    align-items: center;
    display: flex;
    background:rgb(245, 245, 245) ;
    cursor : pointer;
    font-size: 25px;
    margin-right: 30px;
}
.icons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.select{
    height: 50px;
}
@media screen and (max-width: 700px) {
    .footer {
        flex-wrap: wrap-reverse;
    }
    .icons{
        justify-content: unset!important;
        width: 100%;
    }
    .select{
        width : calc(100% - 160px);
        display: flex;
        justify-content: end!important;
    }
  }
  @media screen and (max-width: 900px) {
    .footer {
        flex-wrap: wrap-reverse;
        padding-left: 20px!important;
        padding-right: 20px!important;
    }
    
  }